## Data Exploration  
The goal of this notebook is to get to know the data that will be used in this project.  

**Tasks:**  
1. Load Data
2. Explore Features (What Needs Cleaning?)
4. Define Target Variables

**1. Load Data**

In [1]:
import nflreadpy as nfl

In [24]:
#only load a couple seasons to keep exploration fast
pbp = nfl.load_pbp([2022, 2024])

In [26]:
df = pbp.to_pandas()

In [27]:
df.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,1.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,None,None,None,...,0.0,1.0,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0.0,1.0,-0.443521,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0.0,1.0,1.468819,NaN,NaN,NaN,NaN,NaN,0.440373,-44.037291
3,89.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0.0,1.0,-0.492192,0.727261,6.988125,6.0,0.60693,0.227598,0.389904,61.009598
4,115.0,2022_01_BAL_NYJ,2022091107,NYJ,BAL,REG,1,NYJ,home,BAL,...,0.0,1.0,-0.325931,NaN,NaN,NaN,NaN,NaN,0.443575,-44.357494

**2. Data Exploration**

The idea behind this project is to build a model that acts as an offensive coordinator. Therefore, the model should only have access to data that an NFL OC would know in that moment. Therefore, we factor out unnecessary columns based on that. We also get rid of entries outside the scope of the model (special teams is an example).